<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "assets/images/favicon.png" %}">
    <title>Port</title>
    <!-- Custom CSS -->
    <link href="{% static "assets/libs/flot/css/float-chart.css" %}" rel="stylesheet">
    <!-- Custom CSS -->
     <link rel="stylesheet" type="text/css" href="{% static "assets/extra-libs/multicheck/multicheck.css" %}">
    <link href="{% static "assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" %}" rel="stylesheet">
    <link href="{% static "dist/css/style.min.css" %}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!--This is the top view-->
        {% include "public/top.html" %}
        <!--This is the top view-->

        <!--This is the left view-->
        {% include "public/left.html" %}
        <!--This is the left view-->

        <!--This is the main view-->
        {% block main %}
        {% endblock %}
        <!--This is the main view-->

    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="{% static "assets/libs/jquery/dist/jquery.min.js" %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static "assets/libs/popper.js/dist/umd/popper.min.js" %}"></script>
    <script src="{% static "assets/libs/bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js" %}"></script>
    <script src="{% static "assets/extra-libs/sparkline/sparkline.js" %}"></script>
    <!--Wave Effects -->
    <script src="{% static "dist/js/waves.js" %}"></script>
    <!--Menu sidebar -->
    <script src="{% static "dist/js/sidebarmenu.js" %}"></script>
    <!--Custom JavaScript -->
    <script src="{% static "dist/js/custom.min.js" %}"></script>
    <!-- this page js -->
    <script src="{% static "assets/extra-libs/multicheck/datatable-checkbox-init.js" %}"></script>
    <script src="{% static "assets/extra-libs/multicheck/jquery.multicheck.js" %}"></script>
    <script src="{% static "assets/extra-libs/DataTables/datatables.min.js" %}"></script>
    <script>
        /****************************************
         *       Basic Table                   *
         ****************************************/
        $('#zero_config').DataTable();
    </script>

</body>

</html>